svg {
  fill: currentColor;
  height: auto;
  width: auto;
}

.ml-10 {
  margin-left: 10px !important;
}

.hide {
  display: none !important;
}

button,.button {
  text-align: center;
  -webkit-user-drag: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  user-select: none;
  vertical-align: middle;
  background-color: #e6e6e6;
  border: transparent;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 100%;
  padding: 0.5em 1em;
  text-decoration: none;
}

.button-scuccess {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
  background: rgb(28, 184, 65);
}

.button-danger {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
  background: rgb(207, 44, 8);
}

.button-info {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
  background: rgb(8, 114, 207);
}

.bottom-controller-wrapper {
  position: fixed;
  pointer-events: all;
  bottom: 0px;
  left: 0px;
}

.button-menu-content {
  display: flex;
  align-items: space-between;
  width: 50%;
}

.timer-circle {
  transition: color 0.2s linear, background-color 0.2s linear;
  border-radius: 18px !important;
  width: auto;
  min-width: 52px;
  padding: 0 10px;
  cursor: default;
  text-align: center;
  font-feature-settings: 'tnum';
  box-sizing: border-box;
  display: block;
  box-shadow: 0 2px 8px 1px rgb(0 0 0 / 20%);
  height: 40px;
  background: #fff;
  line-height: calc(5 * 8px);
  color: #000;
}

.timer-circle::before {
  width: auto;
  height: auto;
  display: block;
  content: '';
  box-sizing: border-box;
}

.button-menu-content *:not(:first-child) {
  margin-left: 10px;
}
